h1 {
    background-color: maroon;
    color: white;
    text-align: center;
    padding: 15px;
}

* {
    margin: 0px;
}


.health,
.gameover {
    text-align: center;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgb(151, 151, 151), -3px -3px 3px rgb(151, 151, 151);
    margin: 30px;
    
}

.health div {
    height: 35px;
    background-color: rgb(4, 58, 4);
    border: 1px solid  rgb(4, 58, 4);
}



.b {
    background-color: rgb(85, 3, 10);
    color: white;
    padding: 11px;
    border-radius: 7px;
    display: inline-block;
    
}


.attack {
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    width: 300px;
}

.attack p {
    background-color:  rgb(85, 3, 10);
    display: inline-block;
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 7px;
}

.battle {
    text-align: center;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgb(151, 151, 151), -3px -3px 3px rgb(151, 151, 151);
    margin: 30px;

}