.you,
.ai {
	width: 200px;
	height: fit-content;
	margin: auto;
}

body {
	text-align: center;
}

button {
	margin: 5px;
	padding: 10px;
	border-radius: 10px;
	background-color: black;
	color: white;
	border: none;
}

button:active {
	background-color: rgb(114, 86, 34);
}
